/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}
.m.adapter-container,
.m.adapter-container > div.App {
    /* Fix layout/scrolling issues with tabs */
    height: 100%;
    width: 100%;
    position: relative;
}
.m .select-wrapper + label {
    /* The positioning for dropdown labels is messed up */
    transform: none !important;
}

label > i[title] {
    /* Display the help cursor for the tooltip icons and fix their positioning */
    cursor: help;
    margin-left: 0.25em;
}

.dropdown-content {
    /* Don't wrap text in dropdowns */
    white-space: nowrap;
}

/* Add your styles here */

input[data-name="deviceId"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}

.table-button-add {
    margin-top: 5px;
    margin-bottom: 10px;
}

i[data-name="deviceIdUpdate"] {
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
    border: 0;
    -webkit-appearance: none;
}


.sub-title {
    margin-top: 2rem!important;
    padding: 0.5rem;
    background: #64b5f6;
    color: white;
}
.main-page {
    height: 100%;
    overflow: hidden;
    margin-bottom: 0 !important;
}
.page {
    height: calc(100% - 34px) !important;
}

.channel{
    width: 50px;
}

.fadeTime{
    width: 80px;
}

.type{
    width: 150px;
}

.text-help{
    color: red;
}